# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production Build
dist/
build/

# IDE / Editor
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cloudflare Pages / Wrangler
.wrangler/
.dev.vars
wrangler.log

# Local files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
